# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
Fusion/.vs
Fusion/Debug
Fusion/x64
Fusion/Fusion-sl.sln
Fusion/Fusion/x64
Fusion/Fusion/Debug
Fusion/Fusion/Fusion.vcxproj.user
Fusion/Fusion/Fusion.vcxproj
Fusion/Fusion/Fusion.vcxproj.filters